<%- include('partials/header') %>



    <!--====== BANNER PART START ======-->

    <section class="banner-area">

        <div class="banner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9">
                        <div class="banner-content">
                            <h1 class="title wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1s">We Are The Creative Technologists, We provide IT <span>Solutions<span></span></span> </h1>
                            <span class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1.5s">To Small & Large Scale Businesses</span>
                            <p class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="2s">Bring your product visions to reality with us.</p>
                            <ul class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="2.6s" >
                                <li><a class="main-btn" href="/services">Discover More</a></li>
                                <li><a class="main-btn main-btn-2" href="/about">Read More</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-shape-1">
        </div>
        <div class="banner-shape-2">
            <img src="assets/images/banner-shape-1.png" alt="">
        </div>
        <div class="banner-shape-3">
            <img src="assets/images/banner-shape-2.png" alt="">
        </div>
    </section>

    <!--====== BANNER PART ENDS ======-->

    <!--====== ABOUT PART START ======-->

    <section class="about-area pt-130 pb-130">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <img src="assets/images/about-thumb.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3 class="title">A Perfect Solution Makes <span>A Successful <span>History</span></span></h3>
                       
                        <p>Again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?</p>
                        <ul>
                            <li><a class="main-btn " href="/about">Learn More</a></li>
                            <li><a class="" href="/contact">Let’s Get Started <i class="fal fa-long-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== ABOUT PART ENDS ======-->

    <!--====== FEATURES PART START ======-->

    <section class="features-area pb-130 bg_cover" style="background-image: url(assets/images/features-bg.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title section-title-2  text-center">
                        <h2 class="title">We Offer IT Solutions <span>Safe And <span>Sustainable</span></span></h2>
                        
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="features-item text-center white-bg mt-30 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="0ms">
                        <i class="fal fa-lock-open-alt"></i>
                        <h4 class="title"> Secured & Powerful Web/Mobile Systems</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="features-item text-center white-bg mt-30 item-2 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="300ms">
                        <i class="fal fa-layer-plus"></i>
                        <h4 class="title">Branding & Design Strategy</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="features-item text-center white-bg mt-30 item-3 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="600ms">
                        <i class="fal fa-globe-stand"></i>
                        <h4 class="title">Product Testing & Development</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="features-item text-center white-bg mt-30 item-4 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="900ms">
                        <i class="fab fa-searchengin"></i>
                        <h4 class="title">Search Engine Optimization & SEM </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== FEATURES PART ENDS ======-->

    <!--====== PROJECT PART START ======-->

    <section class="project-case-area project-home pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="title">Projects Done <span>Latest <span>Case Study</span></span></h2>
                        
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="assets/images/project/project-3.jpg" alt="">
                            <i class="fal fa-stars"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="assets/images/project-shadow.png" alt="">
                            <h4 class="title">Events IT Solutions</h4>
                            <span>Important Of IT Services In Business</span>
                            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how</p>
                            <a href="#">View Details <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="assets/images/project/project-4.jpg" alt="">
                            <i class="fal fa-stars"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="assets/images/project-shadow.png" alt="">
                            <h4 class="title">Cyber Security</h4>
                            <span>Important Of IT Services In Business</span>
                            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how</p>
                            <a href="#">View Details <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="assets/images/project/project-5.jpg" alt="">
                            <i class="fal fa-stars"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="assets/images/project-shadow.png" alt="">
                            <h4 class="title">Product Design</h4>
                            <span>Important Of IT Services In Business</span>
                            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how</p>
                            <a href="#">View Details <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== PROJECT PART START ======-->

    <!--====== FACT PART START ======-->

   <center>
   	 <section class="fact-area pt-80 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="fact-item mt-30">
                        <h3 class="title"><span class="counter">95</span> %</h3>
                        <span>Speed of delivery</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="fact-item mt-30">
                        <h3 class="title"><span class="counter">90</span> %</h3>
                        <span>Project Quality </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="fact-item mt-30">
                        <h3 class="title"><span class="counter">97</span> %</h3>
                        <span>Speed & Perfomance</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="fact-item mt-30">
                        <h3 class="title"><span class="counter">100</span> %</h3>
                        <span>Maintance culture</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
   </center>

    <!--====== FACT PART ENDS ======-->

    <!--====== TEAM PART START ======-->

    <section class="team-area pt-130 pb-130">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="team-title">
                        <h3 class="title">Expert Team <br> <span>Meet <span>Our Expert’s</span></span></h3>
                        <span>Something knows About Team</span>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row team-active">
                        <div class="col-lg-6">
                            <div class="team-item">
                                <img src="assets/images/team-1.jpg" alt="team">
                                <div class="team-overlay">
                                    <div class="team-contet text-center">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                        <h5 class="title">Rufus A. Morales</h5>
                                        <span>Product Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="team-item">
                                <img src="assets/images/team-2.jpg" alt="team">
                                <div class="team-overlay">
                                    <div class="team-contet text-center">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                        <h5 class="title">Rufus A. Morales</h5>
                                        <span>Product Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="team-item">
                                <img src="assets/images/team-1.jpg" alt="team">
                                <div class="team-overlay">
                                    <div class="team-contet text-center">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                        <h5 class="title">Rufus A. Morales</h5>
                                        <span>Product Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== TEAM PART ENDS ======-->

    <!--====== WORKING PROCESS PART START ======-->

    <section class="working-process">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="title">How We Work<span>Our Working <span>Process</span></span></h2>
                        <p>We follow this simple 4 steps</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="working-item text-center item-1">
                        <i class="fal fa-head-side-brain"></i>
                        <h5 class="title">Idea Generator</h5>
                        <p>We discuss your projects and come up with working ideas to solve your IT Problems.</p>
                        <div class="dot-1">
                            <img src="assets/images/working-dot-1.png" alt="working">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="working-item text-center item-2">
                        <i class="fal fa-layer-group"></i>
                        <h5 class="title">Infomation Gathering</h5>
                        <p>We gather all the required information to complete the project</p>
                        <div class="dot-2">
                            <img src="assets/images/working-dot-2.png" alt="working">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="working-item text-center item-3">
                        <i class="fal fa-unicorn"></i>
                        <h5 class="title">Product Design and Developments</h5>
                        <p>At this stage we design the plan and develop the idea to present a complete project.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="working-item text-center item-4">
                        <i class="fal fa-upload"></i>
                        <h5 class="title">Launch Project</h5>
                        <p>At this stage after development and testing we launch your complete project. </p>
                        <div class="dot-3">
                            <img src="assets/images/working-dot-1.png" alt="working">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-1"></div>
        <div class="shape-2"></div>
        <div class="shape-3"></div>
        <div class="shape-4"></div>
    </section>

    <!--====== WORKING PROCESS PART ENDS ======-->

    <!--====== QUOTE PART START ======-->

    <section id="quotemain" class="quote-area pt-130 pb-130">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="quote-thumb">
                        <img src="assets/images/quote-thumb.png" alt="quote">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="quote-content">
                        <h3 class="title">Get A Quote <br> <span>Free <span>Consultations</span></span></h3>
                        <form action="#">
                            <div class="input-box mt-25">
                                <label for="#">Full Name Here</label>
                                <input id="fname" type="text" placeholder="Ayodeji Haruna Chigozie">
                                <i class="fal fa-user"></i>
                            </div>
                            <div class="input-box mt-25">
                                <label for="#">Email</label>
                                <input id="email" type="email" placeholder="xxxxx@gmail.com">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="input-box mt-25">
                                <label for="#">I Would Like To Discuss</label>
                                <input id="subject" type="text" placeholder="I’m Talking About">
                                <i class="fal fa-file"></i>
                            </div>
                            <div class="input-box mt-25">
                                <label for="#">Leave A Message</label>
                                <textarea name="message" id="message" cols="30" rows="10" placeholder="Write Message"></textarea>
                                <i class="fal fa-pen-alt"></i>
                            </div>
                            <div class="submit-btn text-right mt-20">
                                <button type="submit" class="main-btn">Send Mesage</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== QUOTE PART ENDS ======-->

   
<%- include('partials/blogsection') %>   
<%- include('partials/footer') %>
