<%- include('partials/header') %>

<br><br><br><br><br>
<div class="container mt-5">
  <h1>Successfully Subscribed </h1>
<br>
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
           You are Successfully Subscribed to DanoiTech Mailing List
        </div>
      </div>
    </div>


  </div>
</div>
<br><br><br>
<%- include('partials/footer') %>
